.heading-Leave h6{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 4%;
    cursor: pointer;
}
.apply-button {
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    background: rgb(123, 147, 27);
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.rdrDefinedRangesWrapper {
    display: none;
}
.rdrDay{
    color: #F2FFBC;
}
.columns {
    font-size: 1rem;
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}
.component-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modal-title b{
    margin-left: 3.2rem;
    font-size: 1rem;
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}
#Name {
    font-size: 1rem;
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}
.css-1epsaon {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 1px solid #C6C2C2;
    border-radius: 1rem;
    /* box-shadow: 0px 3px 5px -1pxrgba(0,0,0,0.2),0px 5px 8px 0pxrgba(0,0,0,0.14),0px 1px 14px 0pxrgba(0,0,0,0.12); */
    padding: 29px;
    background: white;
    width: 27rem;
    display: block;
    margin: auto;
}
.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 800;
    font-size: 0.8rem;
    color: black;
    font-family: Montserrat, sans-serif;
    

}
.checkicons{
    display: flex;
    justify-content: end;
    position: relative;
    gap: 1rem;
    top: 16%;
    right: 2%;
    z-index: 1;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
text-transform: none;
display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    /* text-transform: uppercase; */
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #fff;
    background-color: #1976d2;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
